    <script>
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          testAPI();
        }
      }
      // This function is called when someone finishes with the Login
      // Button. See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }
      
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1288406077839845',
          cookie     : true,  // enable cookies to allow the server to access the session
          status     : true,
          xfbml      : true,  // parse social plugins on this page
          version    : 'v2.5' // use version 2.2
        });
        // Now that we've initialized the JavaScript SDK, we call 
        // FB.getLoginStatus().  This function gets the state of the
        // person visiting this page and can return one of three states to
        // the callback you provide.  They can be:
        //
        // 1. Logged into your app ('connected')
        // 2. Logged into Facebook, but not your app ('not_authorized')
        // 3. Not logged into Facebook and can't tell if they are logged into
        //    your app or not.
        //
        // These three cases are handled in the callback function.
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      };
      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api(
        'me/photos/?fields=source',
        'GET',
        {},
        function(response) {
            var images = response.data;
            // Insert your code here
            // $.each(images, function(){
            //   $('#imagesList').append('<li><img src="' + this.source + '" /></li>'); 
            // });
            // use best image to make personalized page
              // ADD CODE HERE TO CHOOSE BEST BACKGROUND IMAGE FROM AVAILABLE IMAGES
            //
            $('#photo1').css({'background-image': 'url(' + images[0].source + ')'});
            $('#photo2').css({'background-image': 'url(' + images[1].source + ')'});
            $("#photo3").attr("src",images[2].source);
            $("#photo4").attr("src",images[3].source);
            $('#photo5').attr("src",images[4].source);
            $('#photo6').attr("src",images[5].source);
            $('.d').css({'color': "white"});
            console.log(images[0].source);
        });

        FB.api(
          '/me',
          'GET',
          {},
          function(response) {
              // Insert your code here
              $('h1').html(response.name);
              $("#LowerName").html(response.name);
          }
        );

        FB.api(
          'me/?fields=location',
          'GET',
          {"fields":"location"},
          function(response) {
              // Insert your code here
              $(".addresshaha").html(response.location.name);
          }
        );

        FB.api(
          '/me',
          'GET',
          {"fields":"email"},
          function(response) {
              // Insert your code here
              $(".emailhaha").html(response.email);
          }
        );

        FB.api(
          '/me',
          'GET',
          {"fields":"id"},
          function(response) {
            // Insert your code here
            facebookID2 = response.id;
            $.ajax({
              url: '/list',
              method: "POST",
              data: {id: facebookID2},
              success: function(data){
                for(var i=0;i<data.stuff.length;i++){
                  $("#projectlist").prepend('<li id="'+ data.stuff[i].name+ '"' + 'class="projectlistclass">' + data.stuff[i].name + '<li>');
                }
                $(".projectlistclass").click(function(){
                  var id = $(this).attr("id");
                  window.location.href = "template"; 
                });
              }
            });
          }
        );

        function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(showPosition);
          } else {
              console.log("Geolocation is not supported by this browser.");
          }
        }
        function showPosition(position) {
          console.log(position.coords.latitude,position.coords.longitude);
          $(".map").append("<iframe width='100%' height='250' frameborder='0' style='border:0' src='https://www.google.com/maps/embed/v1/view?zoom=10&center="+ position.coords.latitude +","+ position.coords.longitude +"&key=AIzaSyDYZPgpD_Jv_7UBfonFMzxEE0OaCbKSM3A' allowfullscreen></iframe>");
        }

        getLocation();
      }

      $("#facebookLog").click(function(){
        FB.login(function(response) {
          // handle the response
          checkLoginState();  
          var id = response.authResponse.userID;

          $.ajax({
            url: '/',
            method: "POST",
            data: {id: id},
            success: function(data){
              console.log("success");
              window.location.href = 'homepage';
            }
          });
        }, {scope: 'user_photos,email,user_location'});
      });

      $("#newproject").click(function(){      
        var id = facebookID2;
        var name = $("#newprojectName").val();
        $.ajax({
          url: '/newproject',
          method: "POST",
          data: {id: id, name: name},
          success: function(data){
            console.log("success");
          }
        });
      });
    </script>  	
  </body>
</html>