<% include ../views/partials/header %>
  <body class="indexBackground">
    <center><h2 id="indexHeader">SO YOU WANT A WEBSITE</h2></center>
    <center><a id="facebookLog">BUILD A WEBSITE</a></center>
<% include ../views/partials/footer %>
