<% include ../views/partials/header %>
  <body class="indexBackground">
    <center><h2 id="indexHeader">SO YOU WANT TO WEBSITE</h2></center>
    <center><a href="/template" id="facebookLog">BUILD A WEBSITE</a></center>
    <fb:login-button scope="user_photos,email,user_location" onlogin="checkLoginState();"></fb:login-button>
<% include ../views/partials/footer %>
